      <script src="bower_components/underscore/underscore.js"></script>
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/knockout.js/knockout-2.3.0.debug.js"></script>
      <script src="bower_components/tiko/dest/tiko.js"></script>
      <script src="js/app.js"></script>
    </div>
  </body>
</html>